@model Certifac.Models.Addenda

@{
    ViewData["Title"] = "Create";
}
<h4>Nuevo Addenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="IdAddenda" class="control-label">Id de addenda</label>
                <input asp-for="IdAddenda" class="form-control" />
                <span asp-validation-for="IdAddenda" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="NombreAddenda" class="control-label"> Nombre de addenda</label>
                <input asp-for="NombreAddenda" class="form-control" />
                <span asp-validation-for="NombreAddenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xml" class="control-label">XML</label>
                <input asp-for="Xml" class="form-control" />
                <span asp-validation-for="Xml" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Regresar a lista de addendas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
